body {
    padding-top: 5px;
}

.navbar {
    background-color: #fff;
}

.navbar-toggler {
    background-color: #1B4965;
}

.fas, .fa-bars {
    color: #fff;
}

.fab, .fa-facebook-square, .fa-linkedin {
    color: #1B4965;
}

.featurette-heading, h2 {
    color: #1B4965;
}

.nav-link, .navbar-brand {
    color: #1B4965;
}

.progress-bar {
    background-color: #1B4965;
}

.featurette-image {
    width: 80%;
}

.page-footer {
    background-color: #1B4965;
}

.main-button {
    background-color: #1B4965;
    color: #fff;
}

#missions, #current, #about {
    padding-top: 1px;
}

#icon-footer {
    color: #fff;
}

.card-pic {
    height: 450px;
}